[submodule "powerline"]
	path = powerline
	url = https://github.com/Lokaltog/powerline.git
[submodule "config/base16-shell"]
	path = config/base16-shell
	url = git@github.com:chriskempson/base16-shell.git
