config/configstore/update-notifier-npm.json
config/fish/fish_variables
config/fish/functions/fisher.fish
config/fish/local.d/
config/fisher/
config/fisherman-plugins/completions/
config/fisherman-plugins/conf.d/
config/fisherman-plugins/functions/
config/hub
config/htop/htoprc
config/kitty/local.conf
config/nvim/.netrwhist
config/nvim/pack/
config/wslu
