config/configstore/update-notifier-npm.json
config/fish/fish_history
config/fish/fishd.*
config/fish/generated_completions/
config/fish/local.d/
config/fisherman-plugins/completions/
config/fisherman-plugins/conf.d/
config/fisherman-plugins/functions/
config/fisherman/
config/htop/htoprc
config/nvim/pack/
config/fish/fish_variables
config/nvim/.netrwhist
