[submodule "config/base16-shell"]
	path = config/base16-shell
	url = git@github.com:chriskempson/base16-shell.git
[submodule "config/base16-xresources"]
	path = config/base16-xresources
	url = https://github.com/base16-templates/base16-xresources.git
